
.mylogin-container {
    background-color: #2d2d2d; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
    border: none;
}
.mylogin-title {
    font-size: 2rem;
    margin-bottom: 20px; 
    text-align: center; 
}

.mylogin-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none; 
}


.mylogin-input {
    padding: 10px;
    border: 1px solid #444; 
    border-radius: 5px;
    font-size: 16px;
    background-color: #333; 
    color: #fff; 
    outline: none;
}

.mylogin-input::placeholder {
    color: #aaa; 
}


.mylogin-button {
    padding: 10px;
    border: none; 
    border-radius: 5px;
    background-color: lightsalmon;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mylogin-button:hover {
    background-color: #ff7f50; 
}


.myregister-button-login {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: none; 
    border-radius: 5px;
    background-color: #ff6347; 
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.myregister-button-login:hover {
    background-color: #ff4500; 
}