
.sort-container {
    position: absolute; 
    top: 20%; 
    right: 0; 
    border: 1px solid lightcoral;
    margin-right: 10%;
    border-radius: 10px;
  }
  
  
  .button-sort {
    background-color: transparent;
    border: none;
    color: lightsalmon;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 9px; 
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button-sort:hover {
    background-color: lightsalmon; 
    color: white; 
  }
  
