/* Contenitore per il pulsante Filter */
.edit-container {
    border: 1px solid  cyan; 
    border-radius: 10px;
  }

  /* Stile del pulsante */
  .button-edit {
    background-color: transparent;
    border: none;
    color: cyan; 
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 9px; 
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button-edit:hover {
    background-color: cyan ; 
    color: white; 
  }

